{% extends 'index.html' %}

{% block content %}

<form class="form-labels-on-top" method="post" action="#">
    {% csrf_token %}
    <div class="form-title-row">
        <h1>Reator CSTR: Não Isotérmico</h1>
        <p>
            <ol style="text-align: left; color: #777777;">
              
              <li> Em estado estacionário</li>
              <li> Adiabático</li>
              <li> Desprezando o trabalho de eixo</li>
              <li> Reação reversível: a ⇌ b</li>
              <li> 1° Ordem</li>
              <li> Fase gasosa</li>
            </ol>
            </p>
    </div>

    <div class="form-row">
        <label for="temp1">
            <span>Temperatura do K cinético [K]: </span>
            <input type="number" step="any" id="temp1" name="temp1">
        </label>
    </div>

    <div class="form-row">
        <label for="K_kinetic">
            <span>K cinético  [1/h]: </span>
            <input type="number" step="any" id="K_kinetic" name="K_kinetic">
        </label>
    </div>

    
    <div class="form-row">
        <label for="K_eq">
            <span>K equilíbrio: </span>
            <input type="number" step="any" id="K_eq" name="K_eq">
        </label>
    </div>

    <div class="form-row">
        <label for="cpi">
            <span> ∑𝐶𝑝𝑖.Θ𝑖: Somatório do calor específico [J/mol.K]: </span>
            <input type="number" step="any" id="cpi" name="cpi">
        </label>
    </div>

    <div class="form-row">
        <label for="to">
            <span> Temperatura inicial [K]: </span>
            <input type="number" step="any" id="to" name="to">
        </label>
    </div>

    <div class="form-row">
        <label for="tr">
            <span>Temperatura de Referência [K]: </span>
            <input type="number" step="any" id="tr" name="tr">
        </label>
    </div>


    <div class="form-row">
        <label for="delta_hr">
            <span> Δ𝐻𝑅(TR): Entalpia de reação [J/mol]: </span>
            <input type="number" step="any" id="delta_hr" name="delta_hr">
        </label>
    </div>

    
    <div class="form-row">
        <label for="delta_cp">
            <span>ΔCp: Variação do calor específico [J/mol·K]: </span>
            <input type="number" step="any" id="delta_cp" name="delta_cp">
        </label>
    </div>

    <div class="form-row">
        <label for="conversion">
            <span>Conversão: </span>
            <input type="number" step="any" id="conversion" name="conversion">
        </label>
    </div>

    <div class="form-row">
        <label for="vazao">
            <span>Vazão [L/h]: </span>
            <input type="number" step="any" id="vazao" name="vazao">
        </label>
    </div>
    
    <div class="form-row">
        <label for="energia">
            <span>Energia de ativação [cal/mol]: </span>
            <input type="number" step="any" id="energia" name="energia">
        </label>
    </div>

    <div class="form-row">
        <button  type="submit">Calcule</button>
    </div>

</form>

{% endblock %}
