{% extends 'index.html' %}

{% block content %}

<form class="form-labels-on-top" method="post" action="#">
    {% csrf_token %}
    <div class="form-title-row">
        <h1>Queda de Pressão:</h1>
        <p>
            <ol style="text-align: left; color: #777777;">
              <li> Densidade Constante </li>
              <li> Tipo 01</li>
              <li> Em função da massa do catalisador</li>
            </ol>
            </p> 
    </div>

    <div class="form-row">
        <label for="flow">
            <span>Fluxo Total [lbm/h]: </span>
            <input type="number" step="any" id="flow" name="flow">
        </label>
    </div>

    <div class="form-row">
        <label for="ac">
            <span>Área do reator  [ft²]: </span>
            <input type="number" step="any" id="ac" name="ac">
        </label>
    </div>

    <div class="form-row">
        <label for="massa">
            <span>Massa de catalisador [lbf.s²/ft]: </span>
            <input type="number" step="any" id="massa" name="massa">
        </label>
    </div>

    <div class="form-row">
        <label for="densidade">
            <span> Densidade inicial [𝑙𝑏𝑚/𝑓𝑡³]: </span>
            <input type="number" step="any" id="densidade" name="densidade">
        </label>
    </div>

    <div class="form-row">
        <label for="diametro">
            <span>Diâmetro de Particula [ft]: </span>
            <input type="number" step="any" id="diametro" name="diametro">
        </label>
    </div>


    <div class="form-row">
        <label for="porosidade">
            <span>Porosidade: </span>
            <input type="number" step="any" id="porosidade" name="porosidade">
        </label>
    </div>

    
    <div class="form-row">
        <label for="pressao">
            <span>Pressão Inicial [atm]: </span>
            <input type="number" step="any" id="pressao" name="pressao">
        </label>
    </div>

    <div class="form-row">
        <label for="mi">
            <span>Viscosidade do gás [𝑙𝑏𝑚/𝑓𝑡.ℎ]: </span>
            <input type="number" step="any" id="mi" name="mi">
        </label>
    </div>


    <div class="form-row">
        <button  type="submit">Calcule</button>
    </div>

</form>

{% endblock %}
